@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/cerebri-sans/CerebriSans-Light.woff2') format('woff2'),
       url('../fonts/cerebri-sans/CerebriSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/cerebri-sans/CerebriSans-Book.woff2') format('woff2'),
       url('../fonts/cerebri-sans/CerebriSans-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/cerebri-sans/CerebriSans-Medium.woff2') format('woff2'),
       url('../fonts/cerebri-sans/CerebriSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/cerebri-sans/CerebriSans-SemiBold.woff2') format('woff2'),
       url('../fonts/cerebri-sans/CerebriSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/cerebri-sans/CerebriSans-Bold.woff2') format('woff2'),
       url('../fonts/cerebri-sans/CerebriSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/cerebri-sans/CerebriSans-ExtraBold.woff2') format('woff2'),
       url('../fonts/cerebri-sans/CerebriSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
