* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F3F7FB;
  font-size: 14px;
  letter-spacing: .5px;
}

a,
a:hover,
a:visited,
a:focus {
  color: $color-link;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.container {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.content {
  margin-left: 250px;
  @include transition(.5s ease);
}

.sidebar-collapse .content {
  margin-left: 60px;
}

.piechart {
  .detail {
    margin: 0;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.close-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 310px;
  text-align: center;
  padding: 0 15px;

  .inner {
    width: 100%;
  }

  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50%;

    &:first-child {
      border-bottom: 1px solid #ddd;

      .total {
        font-size: 40px;
        line-height: 40px;
      }
    }
  }

  .item .total {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 10px;
  }
}

// Timeline

.vis-timeline {
  // border: none !important;
  border: 1px solid #ddd !important;
}

.vis-item {
  background: #DEEBFF;
  border: 1px solid #85b5f3;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 2px 5px 0 #eaeaea;
  box-shadow: 0 2px 5px 0 #eaeaea;
  padding: 0px 6px;
  font-size: 12px;
  color: $color-text;
  cursor: pointer;

  &.vis-selected {
    border: 1px solid #B3D4FF;
  }

  &:hover {
    background: #B3D4FF;
  }

  &.crtd,
  &.crtd:hover {
    background: #f5c6ca;
    border: 1px solid #f3717c;
  }

  &.rel,
  &.rel:hover {
    background: #c8deff;
    border: 1px solid #5996f5;
  }

  &.removal,
  &.removal:hover {
    padding: 4px 10px;
    background: #f5c6ca;
    border: 1px solid #f3717c;
  }

  &.inspection,
  &.ispenction:hover {
    padding: 4px 10px;
    background: #fbdea3;
    border: 1px solid #FFAB00;
  }

  &.rectification,
  &.rectification:hover {
    padding: 4px 10px;
    background: #afecca;
    border: 1px solid #13CE66;
  }

  &.installation,
  &.installation:hover {
    padding: 4px 10px;
    background: #DEEBFF;
    border: 1px solid #85b5f3;
  }

  &.weighing,
  &.weighing:hover {
    padding: 4px 10px;
    background: #d3c5ff;
    border: 1px solid #9d82f5;
  }

  &.painting,
  &.painting:hover {
    padding: 4px 10px;
    background: #e6f7f5;
    border: 1px solid #10d0be;
  }

  &.rts,
  &.rts:hover {
    padding: 4px 10px;
    background: #c5eff7 !important;
    border: 1px solid #00B8D9;
  }

  .vis-item-content {
    padding: 0;
  }

  .project {
    display: block;
    font-size: 13px;
    font-weight: 600;
  }
}

.vis-foreground .vis-group, .vis-labelset .vis-label {
  border-bottom: 1px solid #ddd !important;
}


.vis-time-axis .vis-grid.vis-minor {
  border-left: 1px solid rgba(234, 234, 234, .7) !important;
}

.vis-time-axis .vis-text {
  font-size: 12px !important;
  color: $color-text !important;

  div {
    font-size: 13px !important;
    font-weight: 600 !important;
  }
}

.vis-labelset .vis-label .vis-inner {
  font-size: 13px !important;
}

.vis-current-time {
  background: $color-link !important;
}


// DataTables

.dataTables_wrapper {
  position: relative;

  .dt-buttons {
    display: none;
  }

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.dataTables_length {
  float: right;
  margin-left: 20px;

  label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  label > select {
    margin: 0 8px;
  }
}

.dataTables_scroll {
  margin-bottom: 15px;
}

.dataTables_length {
  display: none !important;
}

.dataTables_filter {
  display: none !important;
}

.dataTables_info {
  font-size: 13px;
  opacity: .8;
  float: left;
}

.dataTables_paginate {
  float: right;

  .paginate_button {
    margin: 0px 10px;
    color: rgba(33, 44, 62, 0.7);
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;

    &.disabled {
      opacity: .5;
    }

    &.current {
      color: $color-link;
      font-weight: 600;
    }
  }
}

.dataTables_processing {
  width: 100%;
  height: calc(100% - 40px);
  background: rgba(255,255,255,0.5);
  position: absolute; 
  top: 40px;
  z-index: 100;
  
  > div {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.dataTables_scrollHeadInner {
  width: 100%;
}

.dataTables_scrollHeadInner .dataTable {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.dataTable thead {
  .sorting,
  .sorting_asc,
  .sorting_desc {
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
    cursor: pointer;
  }

  .sorting {
    background-image: url('../img/sort_both.png');
  }

  .sorting_asc {
    background-image: url('../img/sort_asc.png');
  }

  .sorting_desc {
    background-image: url('../img/sort_desc.png');
  }

  th {
    // text-align: center;

    &.small {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

// table 

table:not(.nowrap) {
  white-space: nowrap;
}

table td, table th {
  padding: 0.8em;
  vertical-align: middle;

  .is-label-lg {
    padding: 0 10px;
    line-height: 28px;
    font-size: 13px;
    border-radius: 0.1875rem;
    display: inline-block;
  }

  .is-label {
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;

    &.is-success {
      background: rgba(19, 206, 102, .1);
      color: rgb(19, 206, 102);
    }
    
    &.is-warning {
      background: rgba(255, 171, 0, .1);
      color: rgb(255, 171, 0);
    }

    &.is-danger {
      background: rgba(255, 73, 73, .1);
      color: rgb(255, 73, 73);
    }

    &.is-info {
      background: rgba(0, 101, 255, .1);
      color: rgb(0, 101, 255);
    }

    &.is-dark {
      background: rgba(14, 27, 49, .1);
      color: rgb(14, 27, 49);
    }

    &.is-full-danger {
      background: $color-error;
      color: #fff;
    }

  }

  .cancel-move {
    cursor: pointer;   
  }

  .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;

    .left {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: left;
    }
  }

  .action > i,
  .sync {
    padding: 4px;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &.success {
      color: $color-success;

      &:hover {
        background: $color-success;
        color: #fff;
        border-color: $color-success;
      }
    }
    
    &.apply {
      background: $color-success;
      color: #fff;
      border-color: $color-success;

      &.disabled,
      &[disabled] {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #f5f5f5;
        color: #ddd;
        border-color: #ddd;
      }
    }

    &.primary {
      color: #0065FF;

      &:hover {
        background: #0065FF;
        color: #fff;
        border-color: #0065FF;
      }
    }
  
    &.warning {
      color: #FFAB00;

      &:hover {
        background: #FFAB00;
        color: #fff;
        border-color: #FFAB00;
      }
    }

    &.danger {
      color: #FF4949;

      &:hover {
        background: #FF4949;
        color: #fff;
        border-color: #FF4949;
      }
    }

    &.disabled,
    &.disabled:hover {
      color: #ddd !important;
      box-shadow: none !important;
      background: #fff !important;
      border: 1px solid #eaeaea !important;
      cursor: default;
    }
  }  

  input.target_date {
    width: 100px;
    text-align:center;
  }
}

table td {
  input, select:not(.select2) {
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 13px;

    &:focus {
      @include transition;
      outline: none;
      color: $color-text;
      border: 1px solid $color-link;
      box-shadow: none;
    }
  }
}

input,
select,
textarea {
  &:focus {
    @include transition;
    outline: none;
    color: $color-text;
    border: 1px solid $color-link;
    box-shadow: none;
  }
}

table tfoot {
  input {
    width: 100%;
  }
}

.modal table tr{
  
  // &:last-child td {
  //   border-bottom: none;
  //   padding: 0.8em 0.8em 0;
  // }

  // &:last-child td:first-child {
  //   padding: 0.8em 0.8em 0 0;
  // }

  // &:last-child td:last-child {
  //   padding: 0.8em 0 0 0.8em;
  // }
}

.project-item {
  font-weight: 500;
}

// button

.planning {
  &,
  &:focus,
  &:visited {
    @include make-button($color-success, #fff);
  }
}

.button.is-success {
  &,
  &:focus {
    @include make-button($color-success, #fff);
  }
}

.button.is-danger {
  &,
  &:focus {
    @include make-button(#FF4949, #fff);
  }
}

.button.is-default {
  &,
  &:focus {
    @include make-button(#ddd, #777);
  }
}

.button.absolute {
  position: absolute;
  width: 100%;
  margin: 0 !important;
  z-index: 100;
}

button i, button span, .button i, .button span {
  margin: 0 0.3em 0 -0.1em;
  &.right {
    margin: 0 -0.4em 0 0.3em;
  }
}

// .toolbar {
//   // margin-bottom: 10px;
//   float: left;
//   margin-right: 15px;
//   position: relative;
//   z-index: 100;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   width: 550px;
//   // -webkit-box-align: center;
//   // -ms-flex-align: center;
//   // align-items: center;
//   margin-bottom: 10px;

//   &.-right {
//     float: none;
//     width: auto;
//     margin: 0;

//     .toolbar-item {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//       -webkit-box-align: center;
//       -ms-flex-align: center;
//       align-items: center;

//       label {
//         margin-right: 10px;
//       }
//     }
//   }

//   .toolbar-item {
//     &:not(:first-child) {
//       margin-left: 15px;
//     }

//     .inner {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//     }

//     .inner select,
//     .inner input {
//       max-width: 140px;
      
//       &:not(:last-child) {
//         margin-right: 10px;
//       }
//     }
//   }
// }

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;

  .toolbar-left, .toolbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .toolbar-left {
    padding-right: 8px;
  }

  .toolbar-right {
    padding-left: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .toolbar-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .toolbar-item {
    &:not(:first-child) {
      margin-left: 16px;
    }

    &.toolbar-dropdown {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    &.toolbar-dropdown button {
      margin-left: 10px;
    }
  }
}

.filter_button {
  background: #0065FF;
  color: #fff;
  line-height: 34px;
  padding: 0 6px;
  border-radius: 4px;
  cursor: pointer;
}

// modal

.modal-header, .modal-body {
  padding: 15px;
}

.modal-box {
  display: none;
  background: rgba(33, 44, 62, 0.7);
  z-index: 1000;

  .ovrly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 200;
    background: rgba(255,255,255,.8);
    border-radius: 8px;
  }

  .modal {
    margin-top: 50px;

    &.slg {
      width: 90%;
    }

    &.lg {
      width: 900px;
    }

    &.md {
      width: 700px;
    }

    &.sm {
      width: 500px;
    }
  }  

  table {
    white-space: unset !important;
  }

  .modal-header > .title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0;
  }

  .modal-header > .subtitle {
    margin-top: 3px;
    font-size: 13px;
    opacity: 0.7;
    display: block;
    font-weight: normal;

    &.v2 {
      display: inline-block;
      background: #ddd;
      color: $color-text;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 4px;
      margin-left: 10px;
      opacity: 1;
      margin: 10px 0 0;
    }
  }

  .modal-footer {
    text-align: right;
  }

  .modal-footer .button:last-child {
    margin-right: 0px;
  }

  .close {
    &:focus, &:hover {
      background: none;
      color: $color-text;
    }
  }

  .edit {
    font-size: 13px;
    font-weight: 500;
    color:$color-success;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;

    i {
      position: absolute;
      left: 0;
      top: 2px;
      font-size: 16px;
    }
  }

  table {
    margin: 0;
  }

}

// Card Summary Material

.is-row .outer {
  // margin-left: 20px;
  // width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -3px;
  // padding: 4px;

  .inner-box {
    width: 33.3%;
    padding: 3px;
  }
}

.summary-material {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; 
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
  padding: 15px 20px;
  cursor: pointer;

  .count {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;

    span {
      font-size: 12px;
      margin: 0 16px 0 8px;
      position: relative;
      top: -2px;
      opacity: .8;

      &:last-child {
        margin-right: 0;
      }
    }
  } 

  .title {
    font-size: 14px;
  }

  .icon {
    position: absolute;
    right: 20px;
  }

  .icon i {
    font-size: 42px;
    opacity: .4;
  }
}

.card-header .title-area.ctr {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;

  .title {
    width: 100%;
    padding: 20px 0 10px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .subtitle {
    margin-top: 0;
    font-size: 14px;
  }
}

// form
.form-item.menu-list {
  padding: 10px 15px;
  border: 1px solid #eaeaea;
  border-radius: 4px;

  .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    
    &:last-child {
      padding-bottom: 0;
    }

    .checkbox {
      cursor: pointer;
      display: inline-block;
      margin-right: 6px;
    }
  }
}
.form-item .list-work-center {
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .item {
    width: 25%;

    span {
      font-size: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: $color-text;
      font-weight: normal;
  
      &::before {
        margin-right: 6px;
      }
    }
  }
}
.is-prepend i, .is-prepend span {
  font-size: 14px;
  padding: 0 10px;
}

input {
  padding: 0 10px;
}

input:-moz-read-only { /* For Firefox */
  background-color: #f5f5f5;
}

input:read-only { 
  background-color: #f5f5f5;
}


// SweetAlert

.swal-modal {
  .swal-title {
    font-size: 18px;
  }
  .swal-text {
    font-size: 13px;
  }
  .swal-button, 
  .swal-button--confirm {
    background: $color-link;
  }
  .swal-button--cancel {
    background: #efefef;
  }
  .swal-button--danger {
    background: #e64942;
  }
  .swal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.dropdown-menu > li > a {
  padding: 6px 15px;
}

.sign {
  margin-bottom: 10px;

  thead th {
    font-weight: normal;
    width: 300px;

    span {
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.action {
  .is-loading:before {
    width: 16px;
    height: 16px;
    border: 4px solid rgba(19, 206, 102, .25);
    border-bottom-color: rgba(19, 206, 102, 1);
    margin-right: 0;
  }
}

.scheduler_white_event_inner {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 5px; /* increase the space at the bottom */
}

.scheduler_default_event {
  &:before {
    padding: 10px;
  }
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// select2
// .select2-container.full {
//   width: 100%;
// }

.select2-container--default .select2-selection--single {
  border: 1px solid rgba(14, 27, 49, 0.1);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #465368;
}

.select2-container--default .select2-results__option {
  font-size: 13px;
}

.select2-search--dropdown .select2-search__field{
  background-position: 95% 51%;
  padding-right: 30px;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #f5f5f5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #465368;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border: 1px solid $color-link !important;
  border-bottom: 1px solid #eaeaea !important;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border: 1px solid $color-link !important;
  border-top: 1px solid #eaeaea !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single,
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  opacity: .8;
}

.select2-container--open .select2-dropdown--below {
  border: 1px solid $color-link;
  border-top: none;
}

.select2-container--open .select2-dropdown--above {
  border: 1px solid $color-link;
  border-bottom: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.flex-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

// Filter Box

.filter-box {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  background: rgba(0, 101, 255, .02);
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

// Option Box
.option-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .option-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;

    &:not(:last-child) {
      margin-right: 15px;
      border-right: 1px solid #ddd;
      padding-right: 15px;
    }

    span {
      font-weight: 500;
    }

    select,
    input {
      margin-left: 10px;
      height: 32px;
      line-height: 32px;
      background-color: rgba(0, 101, 255, .02);
      font-size: 12px;
    }

    select {
      cursor: pointer;
    }
  }
}

.is-row { 
  margin-left: -15px;
  margin-bottom: 15px;

  + .is-row {
    margin-top: 15px;
  }

  > .is-col {
    margin-left: 15px;
  }
}

// Flex
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

// Detail Project

.project-info {
  background-color: #0e1b31;
  background-image: -webkit-gradient(linear, left top, right top, from(#21314d), to(#0f1a2d)); 
  background-image: -webkit-linear-gradient(left, #21314d, #0f1a2d); 
  background-image: -o-linear-gradient(left, #21314d, #0f1a2d); 
  background-image: linear-gradient(to right, #21314d, #0f1a2d);
  border-radius: 8px;
  color: #f0f0f0;
  padding: 10px 15px;
  font-size: 14px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

  &.as-header {
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 15px;

    .revision {
      font-size: 20px !important;
    }
  }

  .main-info {
    border-right: 1px solid #35445d;
    white-space: nowrap;
    padding: 3px 65px 3px 0;

    .title-big {
      font-size: 22px;
      font-weight: 500;
      display: block;
      line-height: 22px;
      margin-bottom: 4px;
      letter-spacing: 1px;
    }
    
    .subtitle-big {
      line-height: 14px;
    }
  }

  ul {
    width: 100%;
    margin: 0;

    li:first-child {
      padding-left: 65px;
    }

    li {
      -webkit-box-flex: 1;
      -ms-flex: 1 auto;
      flex: 1 auto;
      padding: 0 25px;
    }

    .title {
      font-size: 13px;
      display: block;
      margin-bottom: 2px;
      color: #7d8798;
    }
  }
}

.order-type-status {
  padding: 0;
  z-index: 10 !important;

  .no-data {
    display: none;
    font-weight: 500;
    font-size: 16px;
  }

  .chart {
    border-right: 1px solid #eaeaea;
    position: relative;
    padding: 15px 15px 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .inner {
      width: 100px;
      height: 100px;
      z-index: 1000;
    }

    .inner-info {
      position: absolute;
      text-align: center;
      
      .total {
        font-size: 28px;
        font-weight: 500;
        display: block;
        line-height: 28px;

        &.not-available {
          color: #66728a;
          font-size: 22px;
        }
      }

      .text {
        font-size: 13px;
        opacity: .7;
        font-weight: 500;
      }
    }
  }

  .info {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    padding: 0 20px;

    > .title {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .detail {
    margin: 15px 0 0;

    li {
      -webkit-box-flex: 1;
      -ms-flex: 1 auto;
      flex: 1 auto;
      padding: 0 15px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .title {
        display: block;
        opacity: .7;
        margin-bottom: 2px;
        font-size: 14px;
      }

      .value {
        font-size: 18px;
        font-weight: 500;
        
        &.opn {
          color: $color-error;
        }

        &.prgs {
          color: $color-link;
        }

        &.cls {
          color: $color-success;
        }
      }
    }
  }
}

.sidebar-full .order-type-status {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .chart {
    border-right: 0;
  }

  .info {
    padding: 0 0 15px;
    
    > .title {
      text-align: center;
    }
  }
}

.progress-status {
  padding: 15px;

  .card-header {
    margin-bottom: 20px;
  }
}

.status-close-maintenance {
  position: relative;

  .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 350px;
    border-left: 1px solid #eaeaea;

    .item {
      // -webkit-box-flex: 1;
      // -ms-flex: 1;
      // flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      height: 50%;

      &:first-child {
        border-bottom: 1px solid #eaeaea;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
      }

      .value {
        font-size: 42px;
        font-weight: 600;
        line-height: 42px;
        margin: 15px 0 15px;
      }

      .value.ood {
        color: $color-error;
      }

      .inner-item {
        // padding: 10px 20px;
        border-right: 1px solid #eaeaea;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }

      .inner-item:first-child {
        padding-left: 0;
      }

      .inner-item:last-child {
        border-right: 0;
        padding-right: 0;
      }

      .inner-item .title-type {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
      }

      .inner-item .value {
        font-size: 18px;
        margin: 0 0 10px;
        line-height: 20px
      }

      .inner-item .desc {
        display: none;
      }
    }

    .close-area .value {
      color: $color-success;

      &.na {
        color: #66728a;
      }
      &.normal {
        color: $color-success;
      }
      &.warning {
        color: $color-warning;
      }
      &.oot {
        color: $color-error;
      }
    }

    .maintenance .value {
      &.normal {
        color: $color-success;
      }
      &.warning {
        color: $color-warning;
      }
      &.oot {
        color: $color-error;
      }
    }
  }
  
}

// Legend

.legend-area {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &.legend-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &.small {
    .item {
      line-height: 14px;
      padding-left: 14px;

      &::before {
        width: 8px;
        height: 8px;
        margin: 4px 0;
        border-radius: 3px;
      }

      span {
        font-size: 10px;
      }
    }
  }

  .item {
    margin-left: 20px;
    position: relative;
    line-height: 20px;
    padding-left: 18px;

    &:first-child {
      margin-left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 4px 0;
      margin-right: 4px;
      border-radius: 4px;
    }

    span {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .item.crtd {
    &::before {
      background: #f5c6ca;
      border: 1px solid #f3717c;
    }
  }

  .item.rel {
    &::before {
      background: #c8deff;
      border: 1px solid #5996f5;
    }
  }

  .item.open {
    &::before {
      background: $color-error;
    }
  }

  .item.pgrs {
    &::before {
      background: $color-info;
    }
  }

  .item.cls {
    &::before {
      background: $color-success;
    }
  }

  .item.wro {
    &::before {
      background: $color-warning;
    }
  }

  .item.wmtr {
    &::before {
      background: #5b60ef;
    }
  }

  .item.sto {
    &::before {
      background: #23bf9b;
    }
  }

  .item.plan {
    &::before {
      background: $color-link;
    }
  }

  .item.actual {
    &::before {
      background: $color-success;
    }
  }

  .item.jc {
    &::before {
      background: $color-success;
    }
  }

  .item.mdr {
    &::before {
      background: $color-warning;
    }
  }

  .item.pds {
    &::before {
      background: $color-link;
    }
  }

  .item.removal {
    &::before {
      background: #f5c6ca;
      border: 1px solid #f3717c;
    }
  }

  .item.inspection {
    &::before {
      background: #fbdea3;
      border: 1px solid #FFAB00;
    }
  }

  .item.rectification {
    &::before {
      background: #afecca;
      border: 1px solid #13CE66;
    }
  }

  .item.installation {
    &::before {
      background: #DEEBFF;
      border: 1px solid #85b5f3;
    }
  }

  .item.weighing {
    &::before {
      background: #d3c5ff;
      border: 1px solid #9d82f5;
    }
  }

  .item.painting {
    &::before {
      background: #e6f7f5;
      border: 1px solid #10d0be;
    }
  }

  .item.rts {
    &::before {
      background: #c5eff7 !important;
      border: 1px solid #00B8D9;
    }
  }
}

.single-button {
  width: 34px;
  height: 34px;
  text-align: center;
  background: #2E8758;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;

  &.disabled {
    background: rgba(14, 27, 49, 0.5) !important;
    cursor: default;
    
    &:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  &.print {
    background: #0065FF;

    i {
      padding: 5px;
    }
  }

  &:hover {
    -webkit-box-shadow: 0 4px 10px 0 #ddd;
    box-shadow: 0 4px 10px 0 #ddd;
  }

  img.icon {
    // width: 24px;
    padding: 6px;
  }
}

#planningModal .planning_item_template {
  display: none;
}

.highcharts-axis-line {
  stroke-width: 1px !important;
  stroke: #eaeaea !important;
}

.highcharts-xaxis .highcharts-tick {
	stroke-width: 2px;
	stroke: #d8d8d8;
}

// form add user
.form-username {
  .checkbox {
    margin-top: 10px;
  }
  span {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &::before {
      margin-right: 6px;
    }
  }
}

// form sync
.form-sync {
  position: relative;
  text-align: center;

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .upload-area {
    background: #F3F7FB;
    border: 1px dashed #ddd;
    padding: 20px 0 10px;

    .upload-file-trigger {
      cursor: pointer;

      &:hover {
        i {
          color: $color-link;
        }
      }

      i {
        font-size: 48px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
      }

      .file-return {
        display: none;
        margin-top: -10px;
        font-size: 12px;
        font-style: italic;
        font-weight: normal;
      }
    }

    .bottom-content {
      p {
        padding-top: 10px;
        margin: 0;
        font-size: 12px;
      }
    }
  }
}

.has-ovrly {
  position: relative;
}

.planning-info {
  margin: 15px 0 0;
  padding: 10px 15px;
  background: #f7f8fd;
  border-radius: 4px;
  border: 1px solid #eaeaea;

  ul{
    margin: 0;
    padding: 0
  }

  li {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    margin-right: 30px;
  }

  .title {
    font-size: 13px;
    font-weight: normal;
    display: block;
    margin-bottom: 2px;
    color: #7d8798;
  }

  .value {
    font-size: 14px;
    font-weight: 500;
    color: $color-text;
  }

  .revision .value {
    font-size: 16px;
  }
}

// Daily Menu
.daily-menu-info {
  margin-top: 15px;
  text-align: left;

  label {
    margin-bottom: 0.6em;
  }

  .pmhrs-detail {
    margin: 0;

    tbody td {
      // border: 0;
    }
    
    tfoot td {
      font-size: 16px;
      font-weight: 500;
      padding-top: 8px;
      padding-bottom: 8px;
      color: $color-text;
    }
  }
}

.log-planning-list {
  position: relative;
  margin-bottom: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1;
  }

  .planning-list-block {
    clear: both;
    position: relative;

    .marker {
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 100%;
      border: 2px solid #fff;
      background: #b8b8b8;
      margin-top: 10px;
      z-index: 9999;
      text-align:center;
      position: relative;
      left: -14px;
      position: absolute;
      color: #fff;

      &.create-icon {
        background: $color-error;
      }

      &.edit-icon {
        background: $color-warning;
      }

      &.confirm-icon {
        background: $color-success
      }

      i {
        font-size: 14px;
      }
    }

    .planning-list-content {
      width: 100%;
      padding: 10px 28px 10px;
      color: $color-text;

      &:last-child {
        padding: 10px 28px 6px;
      }

      h4 {
        font-size: 14px;
        font-weight: normal;

        span {
          font-weight: 600;
        }
      }

      .date {
        font-size: 12px;
        opacity: .7;
      }
    }
  }
}

.daily-menu-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}