.main-header {
  background: #fff;;
  min-height: 60px;
  width: 100%;
  padding: 10px 15px 10px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid #eaeaea;
  position: relative;

  .toggle-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    color: $color-text;

    i {
      line-height: 60px;
      width: 50px;
      border-right: 1px solid #eaeaea;
      text-align: center;
    }
  }

  .headline {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .headline .title {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .headline .subtitle {
    font-size: 12px;
  }
}

.main-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;

  > li:not(:last-child) {
    border-right: 1px solid #ddd;
    padding: 0 15px;
  }

  > li:last-child {
    padding-left: 15px;
  }
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  cursor: pointer;

  .user {
    text-align: right;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .user > .name {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    display: block;
  }

  .user > .role {
    font-size: 12px;
    display: block;
    opacity: .7;
    line-height: 12px;
    margin-top: 5px;
  }

  .image {
    max-width: 36px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 5px 10px 0px #ddd;
    box-shadow: 0px 5px 10px 0px #ddd;
  }
}

.user-dropdown {
  position: absolute;
  min-width: 200px;
  background: #fff;
  border: 1px solid #eaeaea;
  z-index: 100;
  top: 50px;
  right: 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 3px;
  display: none;

  > li {
    a {
      display: block;
      padding: 6px 10px;
      color: #465368;
      font-size: 13px;
      border-radius: 3px;

      &:hover {
        font-weight: 500;
        background: #f4f4f5;
      }
    }
  }

  &.visible {
    display: block;
  }
}

.main-header .notifications {

  .inner {
    position: relative;
    display: block;

    .count {
      position: absolute;
      background: #13ce66;
      color: #fff;
      font-size: 10px;
      border-radius: 10px;
      padding: 0px 4px;
      z-index: 100;
      right: -6px;
      top: -6px;
    }

    i {
      padding: 6px;
      font-size: 16px;
      background: #eaeaea;
      color: $color-text;
      border-radius: 4px;
    }
  }
}