.main-content {
  padding: 15px;

  .content-body {
    max-width: 100%;
    position: relative;
  }
}

.headline {

  &.detail {
    background: #fff;
    border: none;
    padding: 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.02);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.02);
    // border-bottom: 3px solid #d2d6de;
    border: 1px solid #eaeaea;
  }

  &.detail h2 {
    font-size: 16px;
    font-weight: 500;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }

  .subtitle {
    margin-top: 3px;
    font-size: 13px;
    opacity: .7;
    display: block;
  }
}