.monitoring {
  width: 100%;
  min-height: 100vh;
  background-color: $color-black;
  // background-color: #0a1527;
  background-image: url('../img/dot.svg');
  background-size: 20px;

  &.dashboard {
    border-radius: 4px;
    padding-bottom: 10px;

    .container {
      width: 100%;
    }

    .owl-nav {
      display: none;
    }
  }

  &.daily {
    .container {
      width: 98%;
    }
  }

  .container {
    width: 1160px;
    margin: 0 auto;
  }

  .ldg-ellipsis .dot {
    width: 6px;
    height: 6px;
    margin: 0 1px;
  }

  @keyframes wave{
    0%,
    60%,
    100% {
      -webkit-transform:translateY(0);
      transform:translateY(0);
      opacity:0.25
    }
    20% {
      -webkit-transform:translateY(3px);
      transform:translateY(3px);
      opacity:0.75
    }
    40% {
      -webkit-transform:translateY(-3px);
      transform:translateY(-3px);
      opacity:0.75
    }
  }
}

.monitoring.light .monitoring-board {
  .card {
    background: #fff;
    border: 1px solid #fff;
  }

  .project-summary {
    .close-summary .close-summary-item:not(:last-child) {
      border-right: 1px solid #eaeaea;
    }

    .close-summary .close-summary-item {
      .value.na {
        color: #66728a !important;
      }
    }
  }

  .detail-summary {
    .heading {
      background: #d5e0ea;
    }
  }

  .manhours {
    .info {
      border-left: 1px solid #eaeaea;

      .item {
        border-bottom: 1px solid #eaeaea;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .material {
    .list-material .list-material-item {
      border-bottom: 1px solid #eaeaea;
    }
  }

  .ovrly {
    background: #fff;
  }
}

.monitoring.dark .monitoring-board {
  .card {
    background: $color-black;
    // background: #0a1527;
    border: 1px solid #2f415d;
  }

  .project-summary {
    .heading {
      .day-maintenance {
        color: #374661;
      }
    }

    .close-summary .close-summary-item {
      color: #adb4c3;
      border-right: 1px solid #1d2f4a;

      &:last-child {
        border-right: 0 !important;
      }

      .value.na {
        color: #374661 !important;
      }
    }
  }

  .detail-summary {
    .heading {
      background: #15233a;
      // background: #121e33;

      .title {
        color: #8792a6;
      }
    }

    .summary-content {
      color: #adb4c3 !important;
    }
  }

  .manhours {
    .info {
      border-left: 1px solid #1d2f4a;

      .item {
        border-bottom: 1px solid #1d2f4a;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .material {
    .list-material .list-material-item {
      border-bottom: 1px solid #1d2f4a;
    }
  }

  .ovrly {
    background: $color-black;
  }
}

.monitoring-board {

  .owl-stage-outer {
    position: relative;
    z-index: $z-over-content;
  }
  
  .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .owl-nav button {
    position: relative;
    top: 0;
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    &.owl-prev {
      left: -80px;
    }

    &.owl-next {
      right: -80px;
    }

    span {
      margin: 0;
      font-size: 40px;
      border: 1px solid #1d2f4a;
      width: 50px;
      height: 50px;
      line-height: 45px;
      border-radius: 100%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .monitoring-header {
    padding: 15px 0px;
    position: relative;

    .nav-prev,
    .nav-next {
      cursor: pointer;
      position: relative;
      margin: 0;

      &:hover {
        color: #e3e7ef;
      }
    }

    .back {
      color: #adb4c3;
      position: relative;
      font-size: 13px;
      opacity: .5;
      padding-left: 22px;

      &:hover {
        opacity: 1;
      }

      i {
        position: absolute;
        font-size: 18px;
        left: 0;
      }
    }

    .title {
      font-size: 14px;
      font-weight: 600;
      color: #f0f3f7;
      text-align: center;
      letter-spacing: 1px;
    }

    .mode {
      font-size: 13px;
      line-height: 13px;
      margin: 0;

      .switch {
        margin: 0 5px;
        background: #455367 !important;
    
        &:checked {
          background: #455367 !important;
        }
      }  

      span {
        position: relative;
        top: -1px;
      }
    }
  }

  .list-item {
    position: relative;
  }

  .list-item > .item {
    padding: 0 1px;
  }

  .card {
    padding: 3px;
    margin-bottom: 10px;
  }

  // project summary

  .project-summary {
    text-align: center;

    &:hover {
      border: 1px solid $color-info !important;
      cursor: pointer;

      i {
        color: $color-info;
      }
    }

    i {
      position: absolute;
      right: 6px;
      top: 6px;
      font-size: 18px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }

    .heading {
      padding: 12px;
      // background: #1b2a44;
      background: #15233a;
      border-radius: 4px;
      margin-bottom: 3px;
    }

    .heading .aircraft-reg {
      font-size: 24px;
      font-weight: 600;
      color: #f0f3f7;
      margin: 0;
      letter-spacing: 1px;
    }

    .heading .description {
      display: block;
      font-size: 13px;
      color: #8792a6;
      margin: 6px 0 0px;
      white-space: pre;
      overflow: hidden;
    }

    .heading .day-maintenance {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;

      &.normal {
        color: $color-success !important;
      }

      &.warning {
        color: $color-warning !important;
      }

      &.oot {
        color: $color-error !important;
      }
    }

    .close-summary {
      position: relative;
    }

    .close-summary .close-summary-item {
      padding: 10px 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;

      .value {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        display: block;
        
        &.normal {
          color: $color-success !important;
        }
  
        &.warning {
          color: $color-warning !important;
        }
  
        &.oot {
          color: $color-error !important;
        }
      }

      .order-type {
        font-size: 14px;
        line-height: 14px;
        margin-top: 6px;
      }
    }
  }

  .detail-summary {
    .heading {
      padding: 5px 0;
      background: #d5e0ea;
      border-radius: 4px;

      .title {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .summary-content {
      position: relative;
    }
  }

  // hilite
  .hilite {
    .summary-content {
      width: 100%;
      height: 80px;
      overflow: hidden;
      position: relative;
      padding-top: 3px;
    }

    .summary-content .hilite-text {
      font-size: 13px;
      position: relative;
      height: 100%;
      white-space: pre-wrap;
      padding: 0 5px;
    }
  }

  // material status
  .material {
    padding: 3px 3px 0;

    .summary-content {
      padding: 0 10px;
    }

    .list-material {
      height: 122px;
      overflow: hidden;
    }

    .list-material .list-material-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      line-height: 40px;
      font-size: 13px;
    }

    .list-material-item .status {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    .list-material-item .color-identity {
      width: 12px;
      height: 12px;
      background: $color-success;
      display: inline-block;
      border-radius: 4px;
      margin-right: 10px;
    }

    .list-material-item .value {
      text-align: center;
      font-weight: 600;
      line-height: 32px;
      font-size: 18px;

      span {
        font-size: 10px;
        color: #6b768c !important;
      }
    }
  }

  // progress status
  .progress-status {
    .chart {
      padding: 10px 5px 0 0;
    }
  }

  // manhours
  .manhours {
    .summary-content {
      margin: 0 -3px -3px;
    }

    .chart {
      width: 70%;
      padding: 10px 5px 0px;
      height:160px;
    }

    .info {
      width: 30%;
      height: 160px;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }

      .percentage {
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        color: $color-info;

        &.oot {
          color: $color-error;
        }
      }

      .inner span {
        display: block;
      }

      .inner .title {
        font-size: 11px;
        font-weight: 500;
      }

      .inner .value {
        font-size: 14px;
        font-weight: 500;
      }

      .inner .value.plan {
        color: $color-warning;
      }

      .inner .value.act {
        color: $color-success;
      }
    }
  }

}

@keyframes marquee {
  0%   { top: 100px; }
  100% { top: -100px; }
}