.main-sidebar {
  width: 250px;
  background: $color-black;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  color: #fff;
  z-index: $z-over-control;
  @include transition(.5s ease);
}

.main-logo {
  padding: 40px 0 30px;
  text-align: center;
  letter-spacing: 1.5px;
  @include transition(.5s ease);

  img {
    @include transition(.5s ease);
  }

  > .text {
    @include transition(.8s ease);
  }

  > .text h1 {
    font-size: 14px;
    font-weight: 500;
    margin: 25px 0 0;
  }

  > .text span {
    font-size: 12px;
    color: #576377;
    margin-top: 5px;
    display: block;
    font-weight: 500;
  } 
}

.main-menu .title {
  color: #465368;
  font-size: 11px;
  line-height: 1;
  font-weight: 500;
  padding: 0px;
  padding-left: 25px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.main-menu .menu {

  > li {
    line-height: 1;
    position: relative;
  }

  > li > a {
    padding: 15px 0px 15px 25px;
    color: #7d8a9f;
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  > li.active {
    background: #0b1323;
  }

  > li.active a, > li a:hover, > li a.active {
    color: #fff;
    background: #0b1323;
  }

  > li > a > i {
    font-size: 20px;
  }

  > li > a > .text {
    margin-left: 15px;
    // display: none;
  }

  > li > a > .icon-expand {
    position: absolute;
    right: 20px;
    font-size: 15px;
    transform: rotate(-90deg);
    transition: all .3s ease-out;
  }

  > li > a > .notif-icon {
    display: none;
    width: 8px;
    height: 8px;
    position: absolute;
    background: $color-success;
    border-radius: 8px;
  }

  > li.active > a > .icon-expand {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .nav-second-level {
    padding-left: 42px;
    display: none;
  }

  > li.active > .nav-second-level {
    display: block;
  }

  .nav-second-level > li > a {
    color: #495568;
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0;
  }

  .nav-second-level > li:first-child > a{
    padding-top: 0;
  }

  .nav-second-level > li:last-child > a{
    padding-bottom: 20px;
  }

  .nav-second-level > li > a.active, .nav-second-level > li:hover > a {
    color: #fff;
  }

  .nav-second-level > li > a > .notif-count {
    display: none;
    position: absolute;
    top: -2px;
    right: 20px;
    background: $color-success;
    color: #fff;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 10px;
  }
}

.sidebar-collapse .main-sidebar {
  width: 60px;

  .slimScrollDiv, 
  .slimscroll {
    overflow: visible !important;
  }

  .main-logo {
    padding: 18px 5px;

    img {
      max-height: 20px;
    }

    .text {
      display: none;
    }
  }

  .main-menu {
    .title {
      padding: 0;
      text-align: center;
      font-weight: 700;
      margin: 10px 0;
    }

    .menu > li > a {
      position: relative;
      padding: 15px 0px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .menu > li > a > .text,
    .menu > li > a > .icon-expand,
    .menu > li > .nav-second-level,
    .menu > li > .nav-second-level.collapse {
      display: none;
    }

    .menu > li > a > .notif-icon {
      left: 20px;
    }

    .menu > li:hover {
      background: #0b1323;
    }

    .menu > li:hover > a > .text {
      display: block;
      background: #0b1323;
      margin: 0;
      position: absolute;
      z-index: 100;
      left: 60px;
      top: 0;
      line-height: 50px;
      padding: 0 15px;
      min-width: 180px;
      border-radius: 0 6px 6px 0;
    }

    .menu > li.has-child:hover > a > i {
      color: #fff;
    }

    .menu > li.has-child:hover > a > .text {
      border-radius: 0 6px 0 0;
      border-bottom: 1px solid #252e3c;
      color: #fff;
    }

    .menu > li:hover > a > .icon-expand {
      display: block;
      left: 212px;
      z-index: 101;
      position: absolute;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      color: #fff;
    }

    .menu > li:hover > .nav-second-level {
      display: block;
      background: #0b1323;
      margin: 0;
      position: absolute;
      width: 180px;
      left: 60px;
      padding: 5px 0 5px 18px;
      border-radius: 0 0 6px 0;

      li:first-child {
        padding-top: 15px;
      }

      li:first-child > a {
        padding-top: 0;
      }

      li > a {
        padding: 10px 0;
        position: relative;
      }

      li:last-child > a {
        padding-bottom: 15px;
      }
    }
    
  }
}
