@import "vars";
@import "mixins";
@import "modules";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url('../img/bg.jpg') center no-repeat;
  background-size: cover;
  font-size: 14px;
  letter-spacing: .5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

a,
a:hover,
a:visited,
a:focus {
  color: $color-link;
  text-decoration: none;
}

.login-logo {
  text-align: center;

  .title {
    color: #fff;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 40px;
    font-weight: 500;
  }
}

.login-card {
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  margin: 40px 0 20px;
  width: 450px;
  -webkit-box-shadow: 0 5px 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px 20px rgba(0, 0, 0, 0.3);


  .heading {
    margin-bottom: 15px;

    .title {
      font-size: 20px;
      padding-bottom: 5px;
    }

    .subtitle {
      font-size: 13px;
      opacity: 0.8;
    }
  }

  .form-item {
    &.with-checkbox {
      .checkbox {
        margin-top: 10px;
      }
      span {
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    
        &::before {
          margin-right: 6px;
        }
      }
    }
    label {
      font-size: 13px;
      font-weight: 500 !important;
      letter-spacing: 1px;
      margin-bottom: 6px;
    }

    input {
      line-height: 40px;
      height: 40px;
      padding: 0 14px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .5px;
    }
    
    input:focus {
      border: 1px solid $color-link;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .button {
      line-height: 40px;
      padding: 0 25px;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
}

.login-footer {
  color: #fff;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: .5;
}