.card {
  padding: 15px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #eaeaea;
  position: relative;

  &.no-padding {
    padding: 0;
  }

  .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &.no-border {
      padding-bottom: 0;
      border-bottom: 0;

      .toolbar {
        margin-bottom: 0px !important;
      }
    }
  }

  .card-header.bb {
    margin: 0 -15px 15px;
    padding: 0 15px 15px;
    border-bottom: 1px solid #eaeaea;
  }

  .card-header .title {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    color: $color-text;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
      font-size: 11px;
      padding: 0px 10px;
      border-radius: 4px;
      margin-left: 10px;
      color: #fff;
      line-height: 22px;
      text-transform: uppercase;

      &.all {
        background: $color-link;
      }

      &.new {
        background: $color-error;
      }

      &.closed {
        background: $color-success;
      }
    }
  }

  .card-header .title.small {
    font-size: 16px;
  }

  .card-header .subtitle {
    margin-top: 5px;
    font-size: 13px;
    opacity: .7;
    display: block;
  }

  .empty-data {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .ovrly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 200;
    background: rgba(255,255,255,.8);
    border-radius: 8px;
  }

  .card-footer {
    margin-top: 15px;
    text-align: right;
  }
}
