.ldg-ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background: $color-link;
    opacity: 0.25;
    border-radius: 50%;
    animation: wave 1s infinite ease-in-out;
    
    &:nth-child(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    } 
    
    &:nth-child(2) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    } 
    
    &:nth-child(3) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    } 
  }
}

@keyframes wave{
  0%,
  60%,
  100% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
    opacity:0.25
  }
  20% {
    -webkit-transform:translateY(5px);
    transform:translateY(5px);
    opacity:0.75
  }
  40% {
    -webkit-transform:translateY(-5px);
    transform:translateY(-5px);
    opacity:0.75
  }
}

.lds-ellipsis {
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $color-link;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.loading {
  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: $color-link;
    opacity: 0.25;
    border-radius: 50%;
    animation: wave 1s infinite ease-in-out;
    
    &:nth-child(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    } 
    
    &:nth-child(2) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    } 
    
    &:nth-child(3) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    } 
  }
}

@keyframes wave{
  0%,
  60%,
  100% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
    opacity:0.25
  }
  20% {
    -webkit-transform:translateY(5px);
    transform:translateY(5px);
    opacity:0.75
  }
  40% {
    -webkit-transform:translateY(-5px);
    transform:translateY(-5px);
    opacity:0.75
  }
}