// MODAL
// ---------------------------------------------------------------------------

.modal-box {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: $z-over-page;
}
.modal {
	position: relative;
	margin: 16px auto;
	padding: 0;
	font-family: $modal-font-family;
	background: $modal-background;
	box-shadow: $modal-box-shadow;
    border-radius: $modal-border-radius;
	color: $modal-color-text;

	& input,
	& textarea {
		@include for-mobile {
		    font-size: 16px;
		}
	}
    & .close {
    	position: absolute;
    	top: 20px;
		right: 18px;
    	font-size: 14px;
    	width: 14px;
    	height: 14px;
    	line-height: 14px;
    	opacity: .4;
    }
    & .close:hover {
        opacity: 1;
    }
}
.modal-header {
	font-size: $modal-header-font-size;
	font-weight: $modal-header-font-weight;
    background: $modal-header-background;
	padding: $modal-header-padding;
	border-bottom: $modal-header-border-bottom;
    &:empty {
        display: none;
    }
}
.modal-body {
	font-size: $modal-body-font-size;
    background: $modal-body-background;
	padding: $modal-body-padding;
}
.modal-footer {
	font-size: $modal-footer-font-size;
	font-weight: $modal-footer-font-weight;
    background: $modal-footer-background;
	// padding: $modal-footer-padding;
	padding: 15px;
	border-top: $modal-footer-border-top;
    &:empty {
        display: none;
    }
	& button,
	& .button {
        margin-left: 10px;
    }
    & button + button.is-tertiary {
        margin-left: 10px;
    }
}