.switch{
  // display: block !important;
  position: relative;
  width: 24px !important;
  height: 12px !important;
  // appearance: none;
  -webkit-appearance: none;
  background: #eaeaea;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  transition: .3s !important;   
  cursor: pointer;
  border: none !important;

  &:hover,
  &:focus,
  &:disabled {
    background: #eaeaea !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2) !important; 

    &:checked {
      background: $color-success !important;
    }
  }

  &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: 0;
      left: 0;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
      transform: scale(1.1);
      transition: .3s;
  }

  &:checked:before {
      left: 12px;
  }

  &:focus {
      border: none;
  }
}

.switch:checked {
  background: $color-success;
}