// TABLE
// ---------------------------------------------------------------------------

table {
	font-size: $table-font-size;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	width: 100%;
	empty-cells: show;
	// margin-bottom: $block-space-big;
}
table caption {
    text-align: left;
    font-size: $table-caption-font-size;
    font-weight: $table-caption-font-weight;
    text-transform: $table-caption-text-transform;
    color: $table-caption-color-text;
    letter-spacing: $table-caption-letter-spacing;
    margin-bottom: 2px;
}
th {
	font-weight: $table-head-font-weight;
	color: $table-head-color-text;
	text-align: left;
	vertical-align: bottom;
}
td {
	color: $table-color-text;
	vertical-align: top;
}
tbody.is-middle td,
tr.is-middle td,
td.is-middle {
    vertical-align: middle;
}
th,
td {
	padding: $table-padding-tb $table-padding-rl;
	border-bottom: $table-border;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
tfoot th,
tfoot td {
	color: rgba($color-text, .5);
}

// Bordered
table.is-bordered {

	& td,
	& th {
		border: $table-border;
	}

}

// Striped
table.is-striped tr:nth-child(odd) td {
	background-color: $table-background-striped;
}

table.is-bordered,
table.is-striped {
	& td,
	& th {
		&:first-child {
			padding-left: $table-padding-rl;
		}
		&:last-child {
			padding-right: $table-padding-rl;
		}
	}
}

// Unstyled
table.is-unstyled {
	& td,
	& th {
		border: none;
		padding: 0;
	}
}

// Responsive
@include for-mobile() {
    table.is-responsive {
        th {
            display: none;
        }
        tr, td {
            display: block;
        }
        tr:nth-child(odd) {
            background-color: $table-background-striped;
        }
        td {
            padding: 1rem;
            text-align: right;
        }
        td:before {
            content: attr(data-label);
            float: left;
            font-size: $font-size-small;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

// Container
.is-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: $block-space-default;

    & table {
        margin-bottom: 0;
    }
}