.tab-menu {
  margin: 0;
  top: 0;
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .tab-link {
    line-height: 40px;
    padding: 0 20px 0px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

    &.active {
      background: #fff;
      border-radius: 6px 6px 0 0;
      border: 1px solid #eaeaea;
      border-bottom: 0;
    }

    &:not(.active):hover {
      color: $color-link;
    }
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}